.thanks{
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0 auto;

    &__container{
        width: 80%;
        height: auto;
        margin: 0 20px;
        padding: 20px;
        color: #ffffff;
        border: 2px solid rgba(63, 35, 15, 0.85);
        background-color: rgba(146, 117, 96, 0.85);;
        border-radius: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title{
            font-size: 30px;
            margin-bottom: 30px;
            font-weight: 700;
        }
        
        &__desc{
            font-size: 22px;
            width: 80%;
            margin-bottom: 30px;
        }
        
        &__button{
            background-color: rgba(156, 94, 50, 0.85);
            color: #fff;
            padding: 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: #f9f9f9;
            text-decoration: none;
            transition: all ease 0.2s;
            text-transform: uppercase;
            font-weight: 700;
        }
        
        &__button:hover,
        &__button:active,
        &__button:focus{
            text-decoration: underline;
            background: linear-gradient(135deg, #353A5F 0%, #9EBAF3 100%);
        }     
    } 
}


