@media screen and (min-width: ($breakpoint_xm)) and (max-width: $breakpoint_sm) {
    .qustions{
        .wrapper{

            &__title{
                text-align: center;
                font-size: 24px;
                padding: 0 25px;
            }

            &__container{
                font-family: 'Manrope', sans-serif;
                display: flex;
                flex-direction: column;
                gap: 10px;
                height: 420px;
    
    
                &__formWrap{
                    background: url("../img/questions-bg.png");
                    padding: 20px;
                    border-radius: 20px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    margin-bottom: 50px;
                    height: 100%;
                    width: 100%;
                    
                }
    
                &__pic{
    
                    &__thumb{
                        display: none;
                    }
                }
            }
        }
    }
    
    
}

@media screen and (min-width: ($breakpoint_sm + 1)) and (max-width: $breakpoint_md) {
    .qustions{
        .wrapper{

            &__title{
                text-align: center;
            }

            &__container{
                font-family: 'Manrope', sans-serif;
                display: flex;
                flex-direction: column;
                gap: 10px;
                height: 420px;
    
    
                &__formWrap{
                    background: url("../img/questions-bg.png");
                    padding: 20px;
                    border-radius: 20px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    margin-bottom: 50px;
                    height: 100%;
                    width: 100%;
                    
                }
    
                &__pic{
    
                    &__thumb{
                        display: none;
                    }
                }
            }
        }
    }
    
    
}

@media screen and (min-width: ($breakpoint_md + 1)) and (max-width: $breakpoint_lg){
    .qustions{
        .wrapper{

            &__title{
                text-align: center;
            }

            &__container{
                font-family: 'Manrope', sans-serif;
                display: flex;
                flex-direction: column;
                gap: 10px;
                height: 420px;
    
    
                &__formWrap{
                    background: url("../img/questions-bg.png");
                    padding: 20px;
                    border-radius: 20px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    margin-bottom: 50px;
                    height: 100%;
                    width: 100%;
                    
                }
    
                &__pic{
    
                    &__thumb{
                        display: none;
                    }
                }
            }
        }
    }
    
    
}

@media screen and (min-width: ($breakpoint_lg + 1)) and (max-width: $breakpoint_lx){
    .qustions{
        .wrapper{

            &__title{
                text-align: center;
            }

            &__container{
                font-family: 'Manrope', sans-serif;
                display: flex;
                gap: 10px;
                height: 420px;
    
    
                &__formWrap{
                    background: url("../img/questions-bg.png");
                    padding: 20px;
                    border-radius: 20px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    margin-bottom: 50px;
                    height: 100%;
                    width: 100%;
                    
                }
    
                &__pic{
    
                    &__thumb{
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }
    
    
}