.best_offers{
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;

        &__container{
            font-family: 'Manrope', sans-serif;
            display: flex;

            &__cards{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                width: 100%;
                height: auto;
                gap: 50px;

                &__item{
                    border: 2px solid rgba(152, 101, 61, 0.2);
                    border-radius: 40px 40px 10px 10px;


                    &__pic{
                        &__thumb{
                            border-radius: 10px;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    &__desc{
                        padding: 0 20px;
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 10px;
                        text-align: justify;

                        &__number{
                            color: #686565;
                        }

                        &__price{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            &__item:first-child{
                                font-size: 22px;
                                font-weight: 700;
                                margin-bottom: 10px;
                            }

                            &__item:last-child{
                                font-size: 16px;
                                color: white;
                                font-weight: 500;
                                background: rgba(156, 94, 50, 0.85);
                                padding: 5px 10px 5px 5px;
                                border-radius: 10px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }

                .wrapper__container__cards__item {
                    &:nth-last-child(-n+2) {
                      .wrapper__container__cards__item__desc__price__item {
                        margin-top: 20px;
                      }
                    }
                }
            }
        }
    }

}